* {
  box-sizing: border-box;
}
body {
  text-align: center;
  font-family: "Newsreader", serif;
}
.title {
  display: flex;
  justify-content: space-around;
  align-items: center;
  font-size: 3rem;
  border-bottom: 2px solid black;
  padding: 5px;
}
.local-time,
h2 {
  background-color: black;
  color: white;
  display: block;
  text-align: center;
  padding: 3px 0;
}
h1,
span {
  font-size: 1.8rem;
  max-width: 90%;
  margin: 10px auto;
}
h2 {
  font-size: 1.5rem;
}
p {
  font-size: 1.2rem;
  line-height: 1.2;
  padding: 10px;
  text-indent: 10px;
}
img {
  max-width: 95%;
}
.lead-story {
  text-align: center;
  border-bottom: 2px solid black;
}
.sub-stories {
  margin: 5px;
  padding-top: 10px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  max-height: 600px;
}
.sub-stories div:not(:last-child) {
  border-right: 2px solid black;
}
footer {
  line-height: 1.5rem;
  border-top: 3px solid black;
  padding: 3px 20px;
  background-color: blanchedalmond;
  text-align: end;
}
